<!DOCTYPE html>
<html lang="de">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        {{ content }}
      </div>

      {% include footer.html %}
    </div>

    <!-- Cookie Popup -->
    <div id="cookie-popup" class="cookie-popup">
      <div class="cookie-popup-content">
        <p>Diese Website verwendet selbst nur Cookies, die unbedingt erforderlich sind, um die grundlegenden Funktionen der Website zu gewährleisten (z. B. für die Anzeige von Seiten). Allerdings werden auf dieser Website auch Inhalte von Drittanbietern wie YouTube-Videos, Formspree, Google Fonts und Social Media eingebettet. Diese Drittanbieter können Cookies auf Ihrem Gerät setzen. Weitere Informationen finden Sie in der Datenschutzerklärung des jeweiligen Anbieters.</p>
        <p>Weitere Informationen finden Sie in unserer <a href="/datenschutz">Datenschutzerklärung</a> und im <a href="/impressum">Impressum</a>.</p>
        <button id="accept-cookie">Akzeptieren</button>
      </div>
    </div>

    <script>
    // Wenn der Benutzer das Popup akzeptiert hat, wird es geschlossen
    document.getElementById('accept-cookie').addEventListener('click', function() {
      // Setze ein Cookie, um zu speichern, dass der Benutzer das Popup akzeptiert hat
      document.cookie = "cookies_accepted=true; path=/; max-age=" + 60 * 60 * 24 * 365; // 1 Jahr

      // Verstecke das Popup
      document.getElementById('cookie-popup').style.visibility = 'hidden';
    });

    // Überprüfe, ob das Cookie existiert
    window.onload = function() {
      if (document.cookie.indexOf('cookies_accepted=true') === -1) {
        // Zeige das Popup
        document.getElementById('cookie-popup').style.visibility = 'visible';
      }
    }
    </script>

  </body>
</html>
